name: Miri UB

on:
  push:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  clippy:
    name: Running miri
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri

      - name: Run miri
        run: cargo miri test --workspace --all-features --doc
